<ng-container *ngIf="data">
<div class="orgContainer fsize">
  <div class="organizer"><span class="posit">Organizer</span>{{data.user_id.organizationName}}</div>
  <div class="imageAndText">
    <div class="image"></div>
    <div class="text">
      <div class="entity"><span class="labels">Entity:</span>{{data.user_id.organizationName}}</div>
      <div class="address"><span class="labels">Address:</span>{{data.user_id.myAddress}}</div>
      <div class="telf"><span class="labels">Tel:</span>{{data.user_id.myTelephone}}</div>
      <div class="email"><span class="labels">email:</span>{{data.user_id.myEmail}}</div>
      <div class="website"><span class="labels">Website:</span>{{data.user_id.myWeb}}</div>
    </div>
  </div>
</div>

<div class="eventContainer fsize">
    <div class="eventLabel"><span class="posit">Event</span></div>    
    <div class="text">
      <div class="slogan"><span class="labels">Slogan:</span>{{data.slogan}}</div>
      <div class="startDate"><span class="labels">Starting Date:</span>{{data.startDate}}</div>
      <div class="endDate"><span class="labels">Ending Date:</span>{{data.endDate}}</div>
      <div class="place"><span class="labels">Place:</span>{{data.location.latitude}} - {{data.location.longitude}}</div>
      <div class="descriptionLabel"><span class="labels">Description:</span></div>
      <div class="description">{{data.description}}</div>
    </div>
</div>
</ng-container>
<div class="mapLabel"><span class="posit">Map</span></div>

<div class="container">
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" 
    spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>


<!--<app-map [eventId]="eventId"></app-map>
 <app-map [mapCenter]="data.location"></app-map>
 --><!-- <pre>vaya vaya {{data | json}}</pre> -->
