/* * {
    outline: 1px solid blue;
} */

a {
    color: inherit; 
    text-decoration: inherit; 
}

a:hover {
      background-color: rgb(248, 255, 238);
}

.eventContainer {
    display: flex;
    flex-direction: column;
}

.labels {
    color: #52d118;
    font-weight: bold;
    margin-right: 2%;
}

.eventLabel {
    background-color: #52d118;
    font-weight: bold;
    height: 2%;
    width: 100%;
}

.labels {
    color: #52d118;
    font-weight: bold;
    margin-right: 2%;
}

.posit {
    margin-left: 4%;
    font-weight: bold;
}

.text {
    display: flex;
    flex-direction: column;
    margin: 3% 4% 3% 4%;
}