<ng-container *ngIf="data">
<div class="orgContainer fsize">
  <div class="organizer"><span class="posit"></span>{{data.user_id.organizationName}}</div>
  <div class="imageAndText">
    <div class="image"></div>
    <div class="text1">
      <div class="entity pad"><span class="labels">Entity:</span>{{data.user_id.organizationName}}</div>
      <div class="address pad"><span class="labels">Address:</span>{{data.user_id.myAddress}}</div>
      <div class="telf  pad"><span class="labels">Tel:</span>{{data.user_id.myTelephone}}</div>
      <div class="email pad"><span class="labels">email:</span>{{data.user_id.myEmail}}</div>
      <div class="website pad"><span class="labels">Website:</span>{{data.user_id.myWeb}}</div>
    </div>
  </div>
</div>

<div class="eventContainer fsize">
    <div class="eventLabel"><span class="posit">Event</span></div>    
    <div class="text2">
      <div class="slogan pad"><span class="labels"></span>{{data.slogan}}</div>
      <div class="startDate pad"><span class="labels">Starting Date:</span>{{data.startDate}}</div>
      <div class="endDate pad"><span class="labels">Ending Date:</span>{{data.endDate}}</div>
      <div class="place pad"><span class="labels">Place:</span>{{data.location.coordinates[0]}} ****** {{data.location.coordinates[1]}}</div>
      <div class="descriptionLabel pad"><span class="labels">Description:</span></div>
      <div class="description pad">{{data.description}}</div>
    </div>
</div>
</ng-container> 
<div class="mapLabel fsize"><span class="posit">Map</span></div>

<div class="container">
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" 
    spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>

<div class="attendees">
  <span class="attendeesBold">{{data.attendance.length}}</span><span class="attendeesText">attendees</span> 
</div>

<div class="field submit">
  <button class="btn" type="submit" [routerLink]="['/success']" (click)="addAttendeeEvent()">Join the Event</button>
</div>
