<div class="eventContainer fsize">
    <div class="eventLabel"><span class="posit">Event</span></div>    
    <div class="text">
      <div class="slogan"><span class="labels">Slogan:</span>{{data.slogan}}</div>
      <div class="startDate"><span class="labels">Starting Date:</span>{{data.startDate}}</div>
      <div class="endDate"><span class="labels">Ending Date:</span>{{data.endDate}}</div>
      <div class="place"><span class="labels">Place:</span>{{data.place}}</div>
      <div class="descriptionLabel"><span class="labels">Description:</span></div>
      <div class="description">{{data.description}}</div>
    </div>
</div>
<pre>vaya vaya {{data | json}}</pre>
