/* * {
    outline: 1px solid blue;
} */

a {
    color: inherit; 
    text-decoration: inherit; 
  }

  a:hover {
      background-color: rgb(226, 247, 195);
  }

.outerContainer {
    margin: 5% 5% 17vw 5%;
    height: auto;
    color: #888787;
    font-size: 1.5em;
}

.cont {
    border: 1px solid #b3b1b1;
    height: auto;
    width: 100%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 6px -6px black;
    margin-bottom: 2vw;
}

.fsize {
    font-size: 0.7em;
}

.org, .startDateLabel, .endDateLabel, .placeLabel, .sloganLabel {
    color: #52d118;
    font-weight: bold;
}

.org, .sloganLabel, .slogan {
    margin-left: 4vh;
} 

.orgName {
    color: #888787;
    font-weight: bold; 
}

.middle {
    display: flex;
    flex-direction: column;
}

.imageAndText {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.image {
    width: 20vw;
    height: 20vw;
    margin: 4vw 4vh;
    border: 1px solid grey;
    background-image: url("../../../assets/images/Ironhack_logo.png");
    background-repeat: no-repeat;
    background-size: 20vw 20vw;
}

.text {
    display: flex;
    flex-direction: column;
}

.pad {
    padding: 1vw 0;
}

/* Media Queries ----------------------------------------- */

@media (min-width: 750px) {

.outerContainer {
    margin: 5%;
    height: auto;
}

.fsize {
    font-size: 0.9em;
}

.image {
    width: 10vw;
    height: 10vw;
    margin: 2vw;
    background-image: url("../../../assets/images/Ironhack_logo.png");
    background-repeat: no-repeat;
    background-size: 10vw 10vw;
}

.pad {
    padding: 0.5vw 0;
}

}