<div class="outerContainer">
    <div class="cont fsize" *ngFor="let event of data, let i = index">
        <a [routerLink]="['event', event._id]">
          <div class="org">Organizer: <span class="orgName">{{event._id}}</span></div>
          <div class="middle">
            <div class="org"></div>
            <div class="imageAndText">
              <div class="image">image</div>
              <div class="text">
                <div class="startDateLabel">Start Date</div>
                <div class="startDate">{{event.startDate}}</div>
                <div class="endDateLabel">End Date</div>
                <div class="endDate">{{event.endDate}}</div>
                <div class="placeLabel">Place</div>
                <div class="place">{{event.place}}</div>
              </div>
            </div>
          </div>
          <div class="sloganLabel">Slogan</div>
          <div class="slogan">{{event.slogan}}</div>
        </a>
    </div>
</div>



