<div class="outerContainer">
    <div class="cont fsize" *ngFor="let event of data, let i = index">
        <a [routerLink]="['event', event._id]">
          <div class="org"><span class="orgName">{{event.organizationName}}</span></div>
          <div class="middle">
            <div class="org"></div>
            <div class="imageAndText">
              <div class="image"></div>
              <div class="text">
                <div class="startDateLabel pad">Start Date</div>
                <div class="startDate pad">{{event.startDate  | date: 'dd/MM/yyyy hh:mm'}}</div>
                <div class="endDateLabel pad">End Date</div>
                <div class="endDate pad">{{event.endDate  | date: 'dd/MM/yyyy hh:mm'}}</div>
                <div class="placeLabel pad">Place</div>
                <div class="place pad">{{event.address}}</div>
              </div>
            </div>
          </div>
          <div class="sloganLabel">Slogan</div>
          <div class="slogan">{{event.slogan}}</div>
        </a>
    </div>
</div>



