<div class="cont">
  <div class="org">Organizer</div>
  <div class="middle">
    <div class="º"></div>
    <div class="datesAndPlace">
      <div class="startDateLabel">Start Date</div>
      <div class="startDate"></div>
      <div class="endDateLabel">End Date</div>
      <div class="endDate"></div>
      <div class="placeLabel">Place</div>
      <div class="place"></div>
    </div>
  </div>
  <div class="sloganLabel">Slogan</div>
  <div class="slogan"></div>
</div>
<div *ngFor='let event of eventData'>
    <p>{{event.slogan}}</p>
  
  </div>
