<div class="orgContainer">
  <div class="organizer"><span class="posit">Organizer</span></div>
  <div class="imageAndText">
    <div class="image"></div>
    <div class="text">
      <div class="entity"><span class="labels">Entity:</span></div>
      <div class="address"><span class="labels">Address:</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
      <div class="telf"><span class="labels">Tel:</span></div>
      <div class="email"><span class="labels">email:</span></div>
      <div class="website"><span class="labels">Website:</span></div>
    </div>
  </div>
</div>

