<div class="container">
  <p>Countiki is designed for organizations, 
  political parties and civil society tobe able to Create Events involving a large number of individuals.</p> 
  <p>Countiki is designed for organizations, 
  political parties and civil society tobe able to Create Events involving a large number of individuals.</p>
  <p>These events will be defined  with a Place and Time.</p>
  <p>Individuals users can Join the Event anonimously if they are at the Place of the Event and at theTime of the Event.</p>
</div>
