<div id="allHeader">
  <div id="header">
    <a class="logoLink" [routerLink]="['/home']"><div id="logo"></div></a>
    <div id="logo-text">COUNTiki</div>
    <div id="loginout"><img *ngIf="user" class="loginoutimage" src="./assets/images/logout.png" alt="Mountain View">
      <button *ngIf="user" class="buttonLogout" (click)="clickLogout()">logout</button></div>
  </div>
  <div id="headerBigScreen">
    <div class="menu"><a [routerLink]="['/home']"><span class="menuItem">Home</span></a></div>
    <div class="menu"><a [routerLink]="['/about']"><span class="menuItem">About</span></a></div>
    <div class="menu"><a [routerLink]="['/auth/signup']"><span class="menuItem">Sign up</span></a></div>
    <div class="menu"><a [routerLink]="['/auth/login']"><span class="menuItem">Log in</span></a></div>
    <div class="menu"><a [routerLink]="['/profile']"><span *ngIf="user" class="myProfile">My profile</span></a></div>
  </div>
</div>


<div id="main">
  <router-outlet></router-outlet>
</div>

<div id="rightSide">

</div>


<div id="footer">
  <div id="home"><a class="imageLink" [routerLink]="['/home']"><img class="clickImage" src="./assets/images/home_icon.png" alt="Home icon"></a></div>
  <div id="about"><a class="imageLink" [routerLink]="['/home']"><img class="clickImage" src="./assets/images/about_icon.png" alt="About icon"></a></div>
  <div id="signup"><a class="imageLink" [routerLink]="['/auth/signup']"><img class="clickImage" src="./assets/images/signup_icon.png" alt="Signup icon"></a></div>
  <div id="login"><a class="imageLink" [routerLink]="['/auth/login']"><img class="clickImage" src="./assets/images/login_icon_grey.png" alt="Login icon"></a></div>
  <div id="settings"><a class="imageLink" [routerLink]="['/profile']"><img *ngIf="user" class="clickImage" src="./assets/images/settings_green.png" alt="Settings icon"></a></div>
</div>

