/* Styling the header */

/* * {
    outline: 1px solid blue;
} */

#allHeader {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    height: 10vw;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    text-align: center;
    border-bottom: 1px solid #888787;
    background-color: white;
}

#header {
    display: flex;
    height: 10vw;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    text-align: center;
}

#headerBigScreen {
    visibility: hidden;
}

.logoLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-image: url("/assets/images/c_icon_countiki.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-image: url("/assets/images/c_icon_countiki.png");
    background-size: contain;
    background-repeat: no-repeat;
}


#logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Yantramanav', sans-serif;
}

#loginout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 0.7em;
}

.loginoutimage {
    max-height: 50%;
    flex-grow: 0.5;
}

.buttonLogout {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}

/* Styling the main */

#main {
	height: 100%;
	display: block;
	overflow-y: auto;
}

#rightSide {
    visibility: hidden;
}

/* Styling the footer */

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    height: 15vw;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    text-align: center;
    border-top: 1px solid #888787;
    background-color:white;
}

a {
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
 }

.clickImage {
    cursor:pointer;
    max-width: auto;
    max-height: 80%;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

#signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

#settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

/* Media Queries ----------------------------------------- */

@media (min-width: 750px) {

/* Styling the header */

/* * {
    outline: 1px solid blue;
} */

#allHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.5vw;
    border-bottom: 1px solid #888787;
}

#header {
    height: 3.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

#headerBigScreen {
    visibility: visible;
    height: 3.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5%;
    background-image: url("/assets/images/c_icon_countiki.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Yantramanav', sans-serif;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuItem {
    color: #52d118;
    font-weight: bold;
}

.myProfile {
    color: #888787;
    font-weight: bold;
}

a:link {
    color: #ffffff;
}

a:hover {
    color: #000000;
}

/* Stiling the maib Big Screen */

#main {
    height: 100%;
    width: 60%;
/* 	display: block; */
	overflow-y: auto;
}

#rightSide {
    visibility: visible;
    position: fixed;
    width: 40%;
    height: 96.5vw;
    top: 3.5vw;
    right: 0px;
}

#rightSide:hover {
    visibility: visible;
    position: fixed;
    width: 40%;
    height: 96.5vw;
    top: 3.5vw;
    right: 0px;
}

/* Stiling the footer */

#footer{
    display: none;
} 


}