<div id="header">
  <div id="logo"></div>
  <div id="logo-text">COUNTiki</div>
  <div id="loginout"><img class="loginoutimage" src="./assets/images/login_green.png" alt="Mountain View">logout</div>
</div>

<div id="main">
  <router-outlet></router-outlet>
</div>


<div id="footer">
  <div id="home"><a class="imageLink" [routerLink]="['/home']"><img class="clickImage" src="./assets/images/home_icon.png" alt="Home icon"></a></div>
  <div id="about"><a class="imageLink" [routerLink]="['/home']"><img class="clickImage" src="./assets/images/about_icon.png" alt="About icon"></a></div>
  <div id="signup"><a class="imageLink" [routerLink]="['/auth/signup']"><img class="clickImage" src="./assets/images/signup_icon.png" alt="Signup icon"></a></div>
  <div id="login"><a class="imageLink" [routerLink]="['/auth/login']"><img class="clickImage" src="./assets/images/login_icon_grey.png" alt="Login icon"></a></div>
  <div id="empty"></div>
</div>