/*Stiling the map */


/* Map height */

.container {
  margin-top: 5vw;
  margin-bottom: 16vw;
  padding-right: 4%;
  padding-left: 4%;
  margin-right: auto;
  margin-left: auto;
  
}

agm-map {
    height: 50vw;
  }

.form-group {
  visibility: hidden;
  }